<!--
  Generated template for the Pemakaian2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>pemakaian2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div align="center">
		<label><font color="red">LAPORAN PENYELESAIAN PEKERJAAN INSTALASI PASANG BARU/MIGRASI</font></label>
	</div>
	<ion-card>
	  <ion-card-header>
	    <font color="red">Disclaimer</font>
	  </ion-card-header>
	  <ion-card-content>
	    	1. Perangkat (ONT/Modem/STB) yang dipasang pelanggan aalah MILIK TELKOM yang dipinjamkan selama menjadi pelanggan TELKOM. Modem yang tidak dipakai karena Migrasi ke Fiber ditarik kembali
	    	2.TELKOM dapat mengambil Modem yang tidak dipakai karena Migrasi ke Fiber ditarik kembali
	    	3.Untuk progress pemiliharaan minitoring, diharapkan power perangkat selalu dalam kondisi hidup (ON)
	    	4.Disarankan untuk segera merubah password yang ada untuk menjaga agar tidak dipergunakan pihak-pihak yang tidak dikehendaki.
	    	5.pelanggan sudah mendapatkan penjelasan dan sales/setter atau menerima buku petunjuk menggunakan modem internet yang telah dipasang 
	  </ion-card-content>
	</ion-card>

	<ion-card>

	  <ion-card-header>
	   <font color="red"> Kendala</font>
	  </ion-card-header>

	  <ion-card-content>
	  	<ion-list radio-group [(ngModel)]="kendala">
	    <table width="100%">
	    	<tr>
	    		<td width="50%">
		    		<ion-radio  value="Alamat Tidak Jelas"></ion-radio>Alamat Tidak Jelas
		    	</td>
		    	<td>
		    		<ion-radio  value="Nama CP belum sesuai"></ion-radio>Nama CP belum sesuai
		    	</td>
	    	</tr>
	    	<tr>
	    		<td>
		    		<ion-radio  value="Bangunan direhab"></ion-radio>Bangunan direhab
		    	</td>
		    	<td>
		    		<ion-radio  value="Kendala IKR/G"></ion-radio>Kendala IKR/G
		    	</td>
	    	</tr>
	    	<tr>
	    		<td>
		    		<ion-radio  value="Penghuni tidak ada"></ion-radio>Penghuni tidak ada
		    	</td>
		    	<td>
		    		<ion-radio  value="Modem rusak"></ion-radio>Modem rusak
		    	</td>
	    	</tr>
	    	<tr>
	    		<td>
		    		<ion-radio  value="Primer kritis/habis"></ion-radio>Primer kritis/habis
		    	</td>
		    	<td>
		    		<ion-radio  value="Perangkat belum siap"></ion-radio>Perangkat belum siap
		    	</td>
	    	</tr>
	    	<tr>
	    		<td>
		    		<ion-radio  value="Sekunder kritis/habis"></ion-radio>Sekunder kritis/habis
		    	</td>
		    	<td>
		    		<ion-radio  value="Port multimedia habis"></ion-radio>Port multimedia habis
		    	</td>
	    	</tr>
	    </table>
		</ion-list>
	  </ion-card-content>

	</ion-card>
	<ion-card>

	  <ion-card-header>
	    <font color="red">Alasan Decline/ Pelanggan tidak memerlukan</font>
	  </ion-card-header>

	  <ion-card-content>
	  	<ion-list radio-group [(ngModel)]="alasan_decline" (ionChange)="actionChangeAlasanDecline($event)">
	    <table width="100%">
	    	<tr>
	    		<td >
	    			<table>
	    				<tr>
	    					<td width="50%"><ion-radio checked="true" value="menggunakan ISP"></ion-radio> menggunakan ISP</td>
	    					<td>
	    						<ion-item>
								    <ion-label fixed></ion-label>
								    <ion-input *ngIf="menggunakan_isp_view == 1" type="text" [(ngModel)]="menggunakan_isp" value="" placeholder="..."></ion-input>

								    <ion-input *ngIf="menggunakan_isp_view == 0" type="text" [(ngModel)]="menggunakan_isp" disabled value="" placeholder="..."></ion-input>
								  </ion-item>
	    					</td>
	    				</tr>
	    			</table>
		    	</td>
		    </tr>
		    <tr>
	    		<td >
	    			<table>
	    				<tr>
	    					<td width="100%"><ion-radio  value="Tidak punya PC/Notebook.Gadget"></ion-radio> Tidak punya PC/Notebook.Gadget
	    				</tr>
	    			</table>
		    	</td>
		    </tr>
	    	<tr>
	    		<td >
	    			<table>
	    				<tr>
	    					<td width="50%"><ion-radio  value="Harga yang diinginkan" placeholder="Username"></ion-radio>Harga yang diinginkan</td>
	    					<td valign="top">
	    						<ion-item>
								    <ion-label fixed></ion-label>
								    <ion-input [(ngModel)]="harga" *ngIf="harga_view == 1" type="text" value="" placeholder="..."></ion-input>

								    <ion-input [(ngModel)]="harga" disaled *ngIf="harga_view == 0" type="text" value="" placeholder="..."></ion-input>
								  </ion-item>
	    					</td>
	    				</tr>
	    			</table>
		    	</td>
		    </tr>
		    <tr>
	    		<td >
	    			<table>
	    				<tr>
	    					<td width="100%"><ion-radio value="Tidak ada pengguna internet"></ion-radio>Tidak ada pengguna internet
	    				</tr>
	    			</table>
		    	</td>
		    </tr>
		    <tr>
	    		<td >
	    			<table>
	    				<tr>
	    					<td width="100%"><ion-radio  value="Tidak diijinkan"></ion-radio>Tidak diijinkan
	    				</tr>
	    			</table>
		    	</td>
		    </tr>
		    <tr>
	    		<td >
	    			<table>
	    				<tr>
	    					<td width="100%"><ion-radio value="Tidak tertarik"></ion-radio>Tidak tertarik
	    				</tr>
	    			</table>
		    	</td>
		    </tr>
	    </table>
		</ion-list>
	  </ion-card-content>
	</ion-card>
	<div align="right"> Jakarta, 22-02-2018</div>
	<br/>
	
	<table width="100%">
		<tr>
			<td><div align="center">Pelanggan</div></td>
			<td><div align="center">Mitra</div></td>
		</tr>
		<tr>
			<td align="center"  width="50%"><div style="border-style: dashed;width: 100px;height: 100px"></div><img src="icon.png"></td>
			<td align="center" width="50%"><div style="border-style: dashed;width: 100px;height: 100px"></div><img src="icon.png"></td>
		</tr>
	</table>

    <button block ion-button color="danger" right>Submit</button>
				
		
</ion-content>
