<!--
  Generated template for the PemakaianPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Halaman-1</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="menu">
  <div *ngSwitchCase="'order'">
     <label ><font size="5" color="red">ORDER</font></label>
     <br/>
    <div style="margin: -10px -20px 0px -20px">
      <ion-card width="100%">
        <ion-card-header>
          <b>Nama Perusahaan</b>
        </ion-card-header>
      <ion-card-content>
        <ion-list radio-group [(ngModel)]="perusahaan" (ionChange)="changePerusahan($event)">
        <table width="100%">
            <tr>
              <td><div style="margin-left: 15px"><ion-label >Perusahaan</ion-label></div></td>
              <td>
                <table>
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div style="margin-top: -15px;width: 130px"><ion-radio value="telkom akses" ></ion-radio>
                         Telkom Akses</div>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div style="margin-top: -15px;margin-left: 10px"><ion-radio value="mitra" ></ion-radio>
                         Mitra</div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
        </table>
        </ion-list>
      </ion-card-content>
    </ion-card>
    </div>

  <ion-item (click)="presentProfileModal()" *ngIf="view_nama_mitra == 2">
     <ion-label stacked><font color="black">Nama Mitra</font></ion-label>
    <ion-input placeholder="Tulis sesuatu"  disabled [(ngModel)]="nama_mitra" style="color:grey" ></ion-input>
    
  </ion-item>

  <ion-item hidden>
    <ion-label stacked><font color="black">No WO</font></ion-label>
    <ion-input value="00" placeholder="Tulis sesuatu" [(ngModel)]="no_wo" style="color:grey"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked><font color="black">STO</font></ion-label>
    <ion-input placeholder="Tulis sesuatu" [(ngModel)]="sto" style="color:grey"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked><font color="black">No Permintaan</font></ion-label>
    <ion-input placeholder="Tulis sesuatu" [(ngModel)]="no_permintaan" style="color:grey"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked><font color="black">No Kontak</font></ion-label>
    <ion-input placeholder="Tulis sesuatu" [(ngModel)]="no_kontak"  type="number" max="13" style="color:grey"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked><font color="black">No Telepon</font></ion-label>
    <ion-input placeholder="Tulis sesuatu" [(ngModel)]="no_telepon"  type="number" style="color:grey"></ion-input>
  </ion-item>
   <ion-item>
    <ion-label stacked><font color="black">No Inet</font></ion-label>
    <ion-input placeholder="Tulis sesuatu" [(ngModel)]="no_inet"  type="number" style="color:grey"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked><font color="black">Tanggal Wo</font></ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" (ionChange)="changeStart($event)"  [(ngModel)]="tanggal_mulai"  style="color:grey"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label stacked><font color="black">Tanggal Transaksi</font></ion-label>
    <ion-datetime  displayFormat="MMM DD, YYYY" (ionChange)="changeEnd($event)"  [(ngModel)]="tanggal_selesai" style="color:grey" ></ion-datetime>
  </ion-item>
  
   <ion-item>
    <ion-label stacked><font color="black">Nama Pelanggan</font></ion-label>
    <ion-input placeholder="Tulis sesuatu" [(ngModel)]="nama_pelanggan" style="color:grey"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked><font color="black">Alamat Pelanggan</font></ion-label>
    <ion-input placeholder="Tulis sesuatu" [(ngModel)]="alamat_pelanggan" style="color:grey"></ion-input>
  </ion-item>
    
    
  </div>

  <div *ngSwitchCase="'datek'">
    <label ><font size="5" color="red">DATEK</font></label>
       <ion-item>
          <ion-label stacked><font color="black">HK/MSAN/ODC</font></ion-label>
          <ion-input placeholder="Tulis sesuatu" [(ngModel)]="hk" style="color:grey"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked><font color="black">DP/ODP</font></ion-label>
          <ion-input placeholder="Tulis sesuatu" [(ngModel)]="dp" style="color:grey"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked><font color="black">Klem Primer/Feeder</font></ion-label>
          <ion-input placeholder="Tulis sesuatu" [(ngModel)]="klem_primer" style="color:grey"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked><font color="black">Klem Sec/Distribusi</font></ion-label>
          <ion-input placeholder="Tulis sesuatu" [(ngModel)]="klem_sec" style="color:grey"></ion-input>
        </ion-item>
    
  </div>
  <div *ngSwitchCase="'material'">
 
  <ion-item-group *ngFor="let row of data_wo; let i =index">
    <ion-item-divider color="light" text-wrap> ID Barang &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :  <b>{{row.id_barang}}</b>  </ion-item-divider>
    <ion-item>Stock Barang  &nbsp;&nbsp;&nbsp;&nbsp;: {{row.stok}}</ion-item>
    <ion-item>Satuan Barang &nbsp;&nbsp;: {{row.satuan}}</ion-item>
    <ion-item>
        <ion-label >Volume Update &nbsp;: </ion-label>
        <ion-input value="{{nol.value}}" [(ngModel)]="modeKeys[i]" type="text" placeholder="..."  ></ion-input>
    </ion-item>

  </ion-item-group>
    <div hidden *ngIf="platform_device =='Android'">
        <ion-item>
            File   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 
            <button wrap-text ion-button color="danger"  (click)="browse()">Upload</button> {{path}}
            <hr/>
        </ion-item>
  </div>
  <div *ngIf="platform_device =='iOS'">
        <ion-item>
            File   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 
            <button wrap-text ion-button color="danger"  (click)="fotoAction()">Foto </button> {{path}}
            <hr/>
        </ion-item>
  </div>
      <br/>
      <div>

    <table>
      <tr>
        <td >
        </td>
        <td width="10%" align="right">
          <div align="right">
            <table>
              <tr>
                <td>
                    <button hidden class="button" (click)="newElement()">
                      <ion-icon name="add"></ion-icon> Item Lain &nbsp;
                    </button>
                </td>
                <td>
                  &nbsp;
                  &nbsp;
                </td>
                <td>
                    <button class="button" *ngIf="no_row != 0" (click)="removeElememt()">
                      &nbsp;&nbsp;<ion-icon name="md-remove"></ion-icon>&nbsp;&nbsp;
                    </button>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>

      <div  id="parent" style="margin:15px"></div>
      <!-- <div class="border"  >
          <div *ngFor="let item of data_material" id="el"><table><tr><td width="40%"><input disabled placeholder="ID Barang" type="text" value="{{item.id_barang}}" class="classInput"/></td><td width="20%"><input type="text" value="{{item.jml_pemakaian}}" disabled placeholder="volume" id="volume" class="classInput"/></td><td  width="20%"><input value="{{item.satuan}}" type="text" disabled placeholder="satuan" id="satuan" class="classInput"/></td></tr></table></div>
      </div> -->
  </div>
  </div>

</div>
  <div padding>
    <ion-segment [(ngModel)]="menu">
      <ion-segment-button value="order" style="background: DeepSkyBlue;border-top-left-radius: 10px;border-bottom-left-radius: 10px">
       <font color="white">ORDER</font> 
      </ion-segment-button>
      <ion-segment-button value="datek" style="background: DeepSkyBlue">
        <font color="white"> DATEK </font>
      </ion-segment-button>
      <ion-segment-button value="material" style="background: DeepSkyBlue;border-top-right-radius: 10px;border-bottom-right-radius: 10px">
        <font color="white">  MATERIAL </font>
      </ion-segment-button>
    </ion-segment>
  </div>


    <table>
      <tr>
        <td >
        </td>
        <td width="10%" align="right">
          <div align="right">
            <table>
              <tr>
                <td>
                    <!-- <button class="button" (click)="newElementDsg()">
                      <font size="2"><ion-icon name="add"></ion-icon> Designator Lain &nbsp;</font>
                    </button> -->
                </td>
                <td>
                  &nbsp;
                  &nbsp;
                </td>
                <td>
                    <button class="button" *ngIf="no_row_dsg != 0" (click)="removeElememtDsg()">
                      &nbsp;&nbsp;<ion-icon name="md-remove"></ion-icon>&nbsp;&nbsp;
                    </button>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
    <br/>

    <div id="parentDsg"></div>

<div align="right">
  <button class="button" (click)="actionNext()" right>Next ></button>
</div>

</ion-content>
